.intro{
    display: flex;
    flex-direction: column;
    height: 25vh;
    padding-top: 25px;
}

.i-left{
    flex: 1;
}

.i-right{
    flex: 1;
    display: grid;
    height:100%
}

.i-left-wrapper{
    padding: 50px;
}

.i-intro{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.i-name{
    font-size: 60px;
}

.i-title{
    font-size: 30px;
    font-weight: bold;
    color: rgb(139, 211, 255);
    text-align: center;
}

.i-image{
    display: block;
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 50%;
    border: 2px solid rgb(139, 211, 255);
    border-style: dashed;
    border-spacing: 50px;
}

.i-title-wrapper{
    height: 100%;
    /* uncomment when I have more in wrapper */
    /* animation: move 10s ease-in-out infinite alternate */
}

.i-description{
    display: flex;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    width: 60%;
    margin: 0 auto;
}

.btn-resume{
    margin-top: 20px;
    background-color:rgb(139, 211, 255);
    color: white;
}    

.logos{
    margin-left: 50px;
    margin-top: -50px;
    font-size: 40px;
}



/* 
@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
} */
