.intro{
    display: flex;
    height: 25vh;
    padding-top: 25px;
}

.i-left{
    flex: 1;
}

.i-right{
    flex: 1;
    display: grid;
    height:100%
}

.i-left-wrapper{
    padding: 50px;
}

.i-intro{
    font-size: 30px;
    font-weight: 300;
}

.i-name{
    font-size: 60px;
}

.i-title{
    font-size: 30px;
    font-weight: bold;
    color: rgb(110, 94, 254);
    display: inline;
    align-items: center;
}

.i-image{
    max-width: 100%;
    max-height: 75vh;
    margin: auto;
}

.i-title-wrapper{
    height: 100%;
    /* uncomment when I have more in wrapper */
    /* animation: move 10s ease-in-out infinite alternate */
}

.btn-resume{
    margin-top: 20px;
    background-color: rgb(110, 94, 254);
    color: white;
}    

.logos{
    margin-left: 50px;
    margin-top: -50px;
    font-size: 40px;
}


/* 
@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
} */
